* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

hr {
  background-color: #eee;
  border: none;
  height: 1px;
  margin: 15px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 1em;
}

button {
  background-color: mediumseagreen;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 10px;
  text-transform: uppercase;
}

button[disabled] {
  background-color: lightgreen;
}

input, select, textarea {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 10px;
  transition: all 300ms ease;
  width: 100%;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
  margin: 0;
  width: auto;
}

select {
  display: block;
  height: 30px;
}

select[multiple] {
  height: 100px;
}

textarea {
  display: block;
  max-height: 200px;
  max-width: 100%;
  min-height: 80px;
  min-width: 100%;
}

input:focus, select:focus, textarea:focus {
  border-color: #999;
}

label {
  display: block;
}

.code-block pre {
  background-color: #f7f7f7 !important;
  border-radius: 3px !important;
  font-size: 13px;
  margin: 20px 0 !important;
  padding: 10px 15px !important;
}

.app {
  margin: 0 auto;
  max-width: 600px;
  padding: 50px 20px;
}

.form-state {
  background-color: #eee;
  border-radius: 3px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 8px 10px;
}

.form-state pre {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.form-row {
  margin-bottom: 15px;
}

.field-error {
  color: indianred;
}

.form-errors {
  background: #fee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: indianred;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.form-errors ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-errors ul li {
  margin: 0;
  padding: 0;
}
